{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        {% for product in products %}
        <div class="col-md-4 mb-3">
            <div class="card">
                <img src="{{ product.product_image.url }}" class="card-img-top" alt="{{ product.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">₹{{ product.price }}</p>
                    <button class="btn btn-primary btn-add-to-cart" data-product="{{ product.id }}">Add to Cart</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
